body{
margin: 0px;
padding: 0px;
line-height: 1.429;
background: #02010a;
font-family: Dancing Script;
}
#menu {
  width: 900px;
  margin: 0px;
	padding: 0px;
  background: #5b7989;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
header h1{
  margin: 0px;
  padding: 12px 0px 0px 15px;
  text-align: left;
  position: top;
  color: white;
  text-shadow: 2px 0 #02010a;
}
header nav{
  background: #5b7989;
  font-size: 1.143em;
  height: 100%;
  margin: 0px
  padding: 0;
  text-align: right;
  width: 900px;
}
#menu nav ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  height: 100%;
}
#menu nav li{
  text-decoration: none;
  display: inline;
  margin: 0px 5px;
  padding: 15px 0px;
  height: 100%;
}
#menu nav a:link, #menu nav a:visited {
  color: white;
  display: inline-block;
  height: 20px;
  padding: 5px 1.5em;
  text-decoration: underline;
}
#contenido{
  width: 900px
}
 .contenedor1{
   width: 900px;
   margin: 0px;
   padding: 20px 0px 20px 0px;
   text-align: center;
   background-color: #82c3a6;
 }
 div [class*="contenedor"]{
   flex-basis: 50%;
 }
 .contenedor2{
   width: 900px;
   margin: 0px;
   padding: 20px 0px 20px 0px;
   text-align: center;
   background-color: #d5c75f;
   display: flex;
   flex-direction: row;
 }
 img{
   box-shadow: 2px #02010a;
 }
 #imagen-central img{
  width: 60%
 }
 #imagen-secundaria1 img{
  width: 100%
 }
 #imagen-secundaria2 img{
  width: 100%
 }
 #pie{
   width: 900px;
   background: #c6d5c5;
   -moz-border-radius: 0 10px 10px 0;
   -webkit-border-radius:0 10px 10px 0;
   border-radius: 0px 0px 10px 10px;
 }
 div [class*="pie"]{
   min-width: 250px;
   flex: 1 1 25%;
 }
 }
 .pie-contacto{
   display: flex;
   flex-flow: column;
   order: 1;
 }
 .pie-terminos{
   display: flex;
   flex-flow: column;
   order: 2;
 }
 .pie-redes{
   display: flex;
   flex-flow: column;
   order: 3;
 }
 .pie-derechos{
   display: flex;
   flex-flow: column;
   order: 4;
 }
